.bonjour{
    text-align: center;
}
.inscription-erreur{
    display: flex;
    flex-direction: column-reverse;
}
.inscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin :0 auto;
    border: 0.2rem solid var(--color-profil);
    background-color: var(--color-profil-transparent);
    border-radius : 1.5rem;
    max-width : 17rem;
}
form{
    display :flex;
    flex-direction: column;
    max-width : 20rem;
    padding : 0.5rem;
    margin : auto;
    align-items: center;
}
.inscription-label{
    margin-bottom: 0.5rem;
    text-align: center;
}
.inscription-champ{
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.bloc-erreurs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    border : 0.1rem solid #ff404066;
    background-color: #ff404024;
    max-width: 17rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.erreurs-m{
    margin:0;
    margin :0.5rem;
}