.btn{
    display: inline-block;
    border: 0.2rem solid var(--color-button);
    border-radius : 0.5rem;
    padding : 0.5rem;
    color : var(--color-text);
    background-color : transparent;
    transition: var(--transition-normal) ;
}
.btn:hover{
    display: inline-block;
    transform : translateY(-0.5rem);
    box-shadow: 0.2rem 0.2rem 0rem #ad8175;
    border-radius: 0.8rem;
    background-color: var(--color-button);
    color : var(--color-text);
}

.btn-1{
    display: inline-block;
    border: 0.1rem solid var(--color-button);
    border-radius : 0.2rem;
    padding : 0.2rem;
    color : var(--color-text);
    background-color : var(--color-background);
    margin-top: 0.5rem;
    font: var(--font-body) ;
    transition: var(--transition-fast) ;
}
.btn-1:hover{
    border-radius: 0.1rem;
    background-color: var(--color-button);
    color : var(--color-text);
}
